* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

body,
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
