html,
div#root,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 500px;
}

h1 {
  color: #f00;
}

.red-title {
  background-color: #000;
  color: #f00;
  padding: 15px;
  border: 5px solid red;
}

.title {
  background-color: aquamarine;
  color: #180536;
}
